body {margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#333;}
ol, ul, li, dl, dd, dt {list-style:none;margin:0;padding:0;}
p {margin:0;padding:0;}
img {border:0;}
textarea, input, select {vertical-align:middle;outline:none;border:1px solid #c4c7ce;border-radius:3px;}
.container {width:1020px;margin:0 auto 20px;padding-top:14px;background:#ffffff;}
h1 {margin:20px auto 30px;text-align:center;font-size:24px;color:#222222;font-weight:normal;position:relative;clear:both;}
a {color:#0E5BAB;text-decoration:none;}
a:hover {color:#f73131;}

@media screen and (max-width:481px) {
  body {margin:0;padding:0;font-family:PingFang SC,STHeiti,Microsoft YaHei,Helvetica,Arial,sans-serif;font-size:14px;color:#333;}
  .container {width:100%;margin:20px auto;border:none;padding:0;}
  h1 {margin:15px 20px 10px 20px;font-size:20px;text-align:left;font-weight:700;}
}
